.OrdersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  padding-left: 20px;
}

.DishSelected {
  display: flex;
  align-items: center;
  margin: 10px;
  border: 2px solid transparent;
  padding: 10px;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.DishImage {
  width: 300px; /* Increased size */
  height: 300px; /* Increased size */
  margin-right: 20px;
  border-radius: 18px;
}

.DishDetailsContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.RedSquare {
  background-color: #ffe5d9; /* Red transparent background */
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Card shadow */
  height: 300px; /* Match the height of the photo */
  box-sizing: border-box; /* Include padding in height calculation */
}

.DishName {
  font-weight: bold; /* Bold text */
  margin: 5px 0;
}

.DishDescription,
.DishPrice {
  margin: 5px 0;
}

.ButtonContainer {
  display: flex;
  gap: 10px; /* Space between buttons */
}

.GetRandomDishButton,
.GoToDrinkPageButton {
  background-color: #cf6757;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; /* Smaller width */
  cursor: pointer;
}

.GetRandomDishButton:hover,
.GoToDrinkPageButton:hover {
  background-color: #3e5f54;
  color: white;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .DishSelected {
    flex-direction: column; /* Stack elements vertically on small screens */
    align-items: center;
  }

  .DishImage {
    margin-right: 0;
    margin-bottom: 20px; /* Space between image and red square on small screens */
  }

  .RedSquare {
    width: 100%; /* Full width on small screens */
    height: auto; /* Adjust height to content */
    padding: 20px; /* Adjust padding */
  }
}
