
.button {
  background-color: #e3e996;
  color: #3E5f54;
  border: none;
  border-radius: 5px;
  position: relative;
  margin: 10px;
  border: 2px solid transparent;
  padding: 10px;
}

.button:hover {
  background-color: #CF6757;
}