.find-order-container {
  border: 10px solid #cf6757;
  padding: 20px;
  width: 1050px;
  margin: 0 auto;
  text-align: left;
  background-color: #fff;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #cf6757;
  margin-bottom: 10px;
}

.email-label {
  display: block;
  margin-bottom: 5px;
  color: #cf6757;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.email-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #333;
}

.find-button {
  padding: 10px 30px;
  font-size: 20px;
  background-color: #cf6757;
  color: white;
  border: none;
  border-radius: 32px;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-end;
  display: flex; /* Use flex to align items */
  align-items: center;
}

.find-button:hover {
  background-color: #3e5f54;
  color: white;
}

.arrow-icon {
  width: 20px; /* Adjust size as needed */
  height: auto;
  margin-left: 10px; /* Space between text and icon */
}
