.footer {
  background-color: #3e5f54;
  color: white;
  padding: 20px;
  text-align: center;
}

.footerContent {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerLinks {
  margin-top: 10px;
}

.footerLinks a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.footerLinks a:hover {
  text-decoration: underline;
}
