/* Flex container for the layout */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar stays at the top */
.layout-header {
  padding: 20px;
  text-align: center;
  flex-shrink: 0; /* Prevent shrinking */
  height: 112px;
}

/* Main content takes remaining space */
.layout-main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the top */
}

/* Footer stays at the bottom */
.layout-footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  flex-shrink: 0; /* Prevent shrinking */
}
