/* Ensure html and body take full height */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

.colors {
  yellow: #e3e996;
  green: #3e5f54;
  red: #cf6757;
}

/* Flex container for the layout */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar stays at the top */
.layout-header {
  background-color: white;
  padding: 20px;
  text-align: center;
  flex-shrink: 0; /* Prevent shrinking */
  height: 112px;
}

/* Main content takes remaining space */
.layout-main {
  flex: 1;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the top */
}

/* Footer stays at the bottom */
.layout-footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  flex-shrink: 0; /* Prevent shrinking */
}
