.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layoutHeader {
  padding: 20px;
  text-align: center;
  flex-shrink: 0;
  height: 112px;
}

.layoutMain {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.layoutFooter {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  flex-shrink: 0;
}
