.navbar {
  position: fixed;
  margin: auto;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  background-color: rgba(75, 85, 99, 0.9); /* More visible for testing */
  color: white;
  font-family: sans-serif;
  padding: 16px; /* Add horizontal padding */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  border-radius: 36px;
  top: 16px;
  left: 16px;
  right: 16px;
  height: 80px; /* Fixed height for the navbar */
  z-index: 10;
}

.container {
  max-width: 1024px;
  width: 100%; /* Make container full width */
  display: flex;
  justify-content: space-between; /* Space between logo and menu */
  align-items: center; /* Center items vertically */
}

.logo img {
  height: 100px; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
}

.menuBtn {
  display: none; /* Hidden on medium screens and up */
}

.icon {
  width: 24px;
  height: 24px;
}

.desktopMenu {
  display: flex;
  gap: 16px;
  margin-left: auto; /* Move the menu to the right */
}

.desktopMenu a {
  text-decoration: none;
  color: white;
}

.desktopMenu a:hover {
  color: #27272a; /* raisinblack */
}

.mobileMenu {
  display: none;
}

@media (max-width: 768px) {
  .menuBtn {
    display: block;
  }
  .desktopMenu {
    display: none;
  }
  .mobileMenu {
    display: block;
    text-align: center;
  }
  .mobileMenu a {
    display: block;
  }
}
