.navbar {
  position: fixed;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cf6757;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 16px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  border-radius: 36px;
  top: 16px;
  left: 16px;
  right: 16px;
  height: 80px;
  z-index: 100;
}

.container {
  max-width: 1024px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 100px;
  width: auto;
}

.menuBtn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
}

.desktopMenu {
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.desktopMenu a {
  text-decoration: none;
  color: white;
}

.desktopMenu .currentPage {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.desktopMenu a:hover {
  color: #27272a;
}

.mobileMenuWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: none;
}

.mobileMenuWrapper.open {
  display: flex;
  justify-content: center;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  background-color: #cf6757;
  padding: 16px;
  padding-top: 66px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  position: absolute;
  color: white;
  top: 50px;
  left: 16px;
  right: 16px;
}

.mobileMenu a {
  display: block;
  padding: 10px;
  text-align: center;
}

.rightContainer {
  display: flex;
  align-items: center;
}

.mobileCurrentPage {
  display: none;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 3px;
}

@media (max-width: 768px) {
  .menuBtn {
    display: block;
  }
  .desktopMenu {
    display: none;
  }

  .mobileCurrentPage {
    display: block;
    margin-right: 20px;
  }
}
