.navbar {
  position: fixed;
  margin: auto;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  background-color: #cf6757; /* More visible for testing */
  color: white;
  font: "Poppins", sans-serif;
  padding: 16px; /* Add horizontal padding */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  border-radius: 36px;
  top: 16px;
  left: 16px;
  right: 16px;
  height: 80px; /* Fixed height for the navbar */
  z-index: 100;
}

.container {
  max-width: 1024px;
  width: 100%; /* Make container full width */
  display: flex;
  justify-content: space-between; /* Space between logo and menu */
  align-items: center; /* Center items vertically */
}

.logo img {
  height: 100px; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
}

.menuBtn {
  display: none; /* Hidden on medium screens and up */
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1); /* This will make the icon white */
}

.desktopMenu {
  display: flex;
  gap: 16px;
  margin-left: auto; /* Move the menu to the right */
}

.desktopMenu a {
  text-decoration: none;
  color: white;
}

.desktopMenu a:hover {
  color: #27272a; /* raisinblack */
}

.mobileMenu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50%; /* Position below the navbar */
  left: 0;
  right: 0;
  background-color: #cf6757;
  padding: 16px; /* Add horizontal padding */
  padding-top: 50px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
}

.mobileMenu a {
  display: block;
  padding: 10px;
  text-align: center; /* Center the text */
  z-index: 10;
}

@media (max-width: 768px) {
  .menuBtn {
    display: block;
  }
  .desktopMenu {
    display: none;
  }
  .mobileMenu {
    display: flex;
  }
  .mobileMenu a {
    display: block;
  }
}
