
  
  /* Ensure the drink list is positioned below the navbar */
  .drink-list-container {
    margin-top: 120px; /* Adjust based on the height of your navbar */
  }
  

.DivDrinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

.drink {
    cursor: pointer;
    position: relative;
    margin: 10px;
    border: 2px solid transparent;
    padding: 10px;
}

.drink.selected {
    border-color: #3E6053;
}

.drink img {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
}

.checkmark {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 24px;
    color: #C16757;
}
