.DrinksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
}

.drink {
  cursor: pointer;
  position: relative;
  margin: 10px;
  border: 2px solid transparent;
  padding: 10px;
  width: calc(
    25% - 40px
  ); /* Four drinks per row, adjusting for margins and padding */
  box-sizing: border-box;
  text-align: center;
}

.drink.selected {
  border-color: #3e6053;
}

.drink img {
  width: 150px; /* Increased size */
  height: 150px; /* Increased size */
  border-radius: 50%; /* Rounded images */
  border: 5px solid; /* Use solid border */
}

.yellow-border {
  border-color: yellow; /* Yellow solid border */
}

.green-border {
  border-color: green; /* Green solid border */
}

.red-border {
  border-color: red; /* Red solid border */
}

.checkmark {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 24px;
  color: #c16757;
}
