.DrinksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 40px;
}

.drink {
  cursor: pointer;
  position: relative;
  margin: 20px;
  padding: 20px;
  width: calc(23% - 40px); /* Thinner boxes for four drinks per row */
  box-sizing: border-box;
  text-align: left; /* Align text to left */
  background-color: #ffe5d9; /* Card background color */
  border-radius: 10px; /* Rounded corners for the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Card shadow */
  transition: transform 0.2s;
  margin-bottom: 40px; /* Add margin between rows */
}

.drink:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.drink img {
  width: 120px; /* Adjusted size */
  height: 120px; /* Adjusted size */
  border-radius: 50%;
  position: absolute;
  top: -40px; /* Position image at the top */
  right: -20px; /* Position image at the right */
  border: 5px solid #cf6757; /* Always use red border */
}

.drink.selected img {
  border-color: #3e5f54; /* Green border for selected items */
}

.drink p {
  margin: 10px 0;
}

.drink .price {
  font-weight: bold;
  font-size: 1.2em;
  color: #333;
}

.drink .button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #cf6757; /* Button background color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.drink .button.selected {
  background-color: #3e5f54; /* Green button for selected items */
}

.drink .button:hover {
  background-color: #3e5f54; /* Darker button on hover */
}

.drink.selected .price {
  color: #c16757; /* Color change for selected items */
}

.drink.selected .button {
  background-color: #3e5f54; /* Button color change for selected items */
}

.checkmark {
  display: none; /* Hide the checkmark */
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .drink {
    width: calc(33.33% - 40px); /* Three drinks per row on medium screens */
  }
}

@media (max-width: 768px) {
  .drink {
    width: calc(50% - 40px); /* Two drinks per row on small screens */
  }
}

@media (max-width: 480px) {
  .drink {
    width: calc(100% - 40px); /* One drink per row on extra small screens */
  }
}
