.receiptContainer {
  padding: 20px;
  max-width: 600px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.receiptContainer h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 20px;
}

.orderDetails {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.orderDetails h2 {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.orderDetails p {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.drinkItem {
  margin-bottom: 10px;
}

.orderSummary {
  margin-top: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.orderSummary h2 {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.orderSummary p {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.button {
  margin-top: 20px;
  margin-bottom: 10px;
}
